node_modules/

logs
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

dist/
build/
out/
.next/
.nuxt/

.cache/
.parcel-cache/
.eslintcache

coverage/

.DS_Store
Thumbs.db


*.tsbuildinfo

.tmp/
.temp/